* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
    scroll-padding-top: 20px;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 1100px) {
        max-width: 80%;
    }

    @media (max-width: 640px) {
        max-width: 70%;
    }
}

.header {
    padding-top: 50px;
    h1 {
        text-align: center;
    }

    @media (max-width: 640px) {
        font-size: 14px;
        text-align: center;

        h1 {
            max-width: 340px;
            padding: auto;
            margin: auto;
        }
    }
}

label {
    font-size: 14px;
    padding-right: 5px;
    @media (max-width: 1100px) {
        font-size: 12px;
    }

    @media (max-width: 640px) {
        font-size: 11px;
        white-space: nowrap;
    }
}

#label-estado-civil {
    padding-right: 8px;
}

.form {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    align-items: center;

    .grupo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 50px;
        justify-content: center;

        .lista {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: end;

            li {
                display: flex;
                gap: 10px;
                align-items: center;

                input {
                    height: 30px;
                    font-size: 15px;
                    border-radius: 4px;
                    border-color: #000;
                    width: 250px;
                    padding-left: 5px;
                    padding-right: 5px;

                    @media (max-width: 1100px) {
                        height: 25px;
                        font-size: 12px;
                        width: 200px;
                    }

                    @media (max-width: 640px) {
                        font-size: 11px;
                        height: 20px;
                        width: 150px;
                    }
                }
            }
        }



    }

    h2 {
        margin-top: 25px;
        margin-bottom: 45px;

        @media (max-width: 1100px) {
            font-size: 22px;
        }
    }

    .wrapper {
        border: 2px #ababab solid;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        background-color: #f2f2f2;
        display: block;

        @media (max-width: 640px) {
            padding-right: 20px;
            padding-left: 15px;
        }
    }
}

.div-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.lista-unica {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.li-contrato {
    padding-left: 0;
    text-align: end;
}

.label-contrato {
    padding-right: 0;
}

#lista-contrato-partilha {
    padding-bottom: 30px;
}

#what {
    padding-left: 16px;
}

.dados-protocolados-grupo {
    width: 395px;

    @media (max-width: 1100px) {
        width: 332px;
    }
    
    @media (max-width: 640px) {
        width: 280px;
    }
}

#div-importante {
    padding-left: 25px;
    
    @media (max-width: 640px) {
        width: 300px;
        padding-left: 0;
        padding-right: 0;
    }
}

.estado-civil-div {
    @media (max-width: 1100px) {
        width: 398px;

        .div-do-estado-civil {
            justify-content: end;
        }

        #regime-bens {
            padding-left: 15px;
        }
        
        .estado-civil-grupo {
            flex-direction: column;
            align-items: end;
        }

        #grupo-casado {
            justify-content: end;
        }
    }

    @media (max-width: 640px) {
        
        width: 300px;

        .div-do-estado-civil {
            width: 250px;
            padding-right: 5px;
            padding-left: 10px;
            align-items: end;

            #id-situacao-civil {
                width: 250px;
            }
        }

        #grupo-casado {
            justify-content: end;
            width: 250px;
        }

        #regime-bens {
            padding-left: 0;
        }
    }
}

#tipo-contrato-div {
    @media (max-width: 1100px) {
        width: 410px;
        padding-left: 20px;

        .div-lista {
            align-items: end;
        }

        .tipo-contrato-grupo {
            justify-content: end;
        }
    }

    
    @media (max-width: 640px) {
        width: 310px;
    }
}

h3 {
    font-size: 12px;
    text-align: center;
    padding-right: 90px;
    margin-bottom: 5px;
    color: #4f4f4f;
    font-weight: bold;
    text-decoration-line: underline;
}

.h3-conjuge {
    padding-right: 75px;

    @media (max-width: 1100px) {
        padding-right: 115px;
    }
    
    @media (max-width: 640px) {
        padding-right: 70px;
    }
}

.h3-residencia {
    padding-right: 110px;

    @media (max-width: 1100px) {
        padding-right: 105px;
    }
    
    @media (max-width: 640px) {
        padding-right: 60px;
    }
}

.h3-protocolo {
    padding-right: 130px;
    
    @media (max-width: 1100px) {
        padding-right: 100px;
    }
    
    @media (max-width: 640px) {
        padding-right: 70px;
    }
}

.h3-lote {
    padding-right: 110px;
    margin-top: 30px;
    margin-bottom: 10px;
        
    @media (max-width: 1100px) {
        padding-right: 80px;
    }
    
    @media (max-width: 640px) {
        padding-right: 50px;
    }
}

.h3-faixa {
    padding-right: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
        
    @media (max-width: 1100px) {
        padding-right: 60px;
    }
    
    @media (max-width: 640px) {
        padding-right: 30px;
    }
}

.hide {
    display: none !important;
}

select {
    text-align: center;
    height: 25px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 5px;
}

.select {
    width: 250px;
    @media (max-width: 1100px) {
        width: 200px;
        font-size: 12px;
    }

    @media (max-width: 640px) {
        width: 150px;
        height: 20px;
        font-size: 11px;
    }
}

.botao-gerar {
    background-color: rgb(0, 183, 0);
    line-height: 35px;
    font-size: 25px;
    width: 250px;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 20px;
    
    @media (max-width: 640px) {
        padding: 0;
        margin: 0;
        font-size: 20px;
        width: 200px;
        line-height: 30px;
    }

    &:hover {
        background-color: green;
        color: #fff;
        cursor: pointer;
    }
}

.botao-download {
    background-color: rgb(0, 116, 183);
    line-height: 35px;
    font-size: 25px;
    width: 250px;
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 20px;

    @media (max-width: 640px) {
        padding: 0;
        margin: 0;
        font-size: 20px;
        width: 200px;
        line-height: 30px;
    }

    &:hover {
        background-color: rgb(0, 43, 128);
        color: #fff;
        cursor: pointer;
    }
}

.wrapper:nth-last-child(1) {
    padding-bottom: 40px;
}

.success-message {
    font-size: 20px;
    color: green;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-do-envio {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 640px) {
        width: auto;
    }
}

.party {
    background-image: url(./birthday-party.png);
    background-size:contain;
    padding-top: 120px;
    padding-bottom: 40px;
}

.error {
    color: red;
    text-decoration: none;
    padding-right: 15px;
    font-size: 12px;
    text-align: center;
    margin-top: -8px;

    @media (max-width: 1100px) {
        padding-right: 0;
        padding-left: 50px;
    }

    @media (max-width: 640px) {
        font-size: 10px;
        padding-right: 0px;
        padding-left: 100px;
    }
}

.loucura {
    width: 250px;
}

.error-two {
    color: red;
    text-align: center;
    display: none;

    &--active {
        display: block;
        font-size: 22px;
        text-decoration: none;
        text-align: center;
        padding-right: 0;
        padding-left: 60px;
    }

    @media (max-width: 1100px) {
        padding-right: 0;
        padding-left: 20px;
        font-size: 18px;
        white-space: nowrap;
    }

    @media (max-width: 640px) {
        font-size: 16px;
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        white-space: normal;
    }
}

#transcricao-matricula {
    text-align: right;
    width: 100px;
    @media (max-width: 1100px) {
        font-size: 12px;
        width: 80px;
    }
    
    @media (max-width: 640px) {
        font-size: 11px;
        width: 82px;
        height: 20px;
    }
}

.li-contrato {
    @media (min-width: 1100px) {
        width: 395px;
        padding-left: 30px;
    }
}

#id-situacao-civil {
    @media (max-width: 640px) {
        width: auto;
    }
}

#select-comunhao {
    @media (max-width: 640px) {
        width: 260px;
        padding-left: 6px;
    }
}