* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
    scroll-padding-top: 20px;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        max-width: 80%;
    }

    @media (max-width: 640px) {
        max-width: 70%;
    }
}

.header {
    padding-top: 50px;
    h1 {
        text-align: center;
    }
}

label {
    font-size: 14px;
}

.form {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    align-items: center;

    .grupo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 50px;
        justify-content: center;

        .lista {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: end;

            li {
                display: flex;
                gap: 10px;
                align-items: center;

                input {
                    height: 30px;
                    font-size: 15px;
                    border-radius: 4px;
                    border-color: #000;
                    width: 250px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 45px;
    }

    .wrapper {
        border: 2px #ababab solid;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        background-color: #f2f2f2;
        display: block;
    }
}

.div-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.lista-unica {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.li-contrato {
    padding-left: 32px;
    text-align: end;
}

.label-contrato {
    padding-right: 5px;
}

#lista-contrato-partilha {
    padding-bottom: 30px;
}

#what {
    padding-left: 16px;
}

h3 {
    font-size: 12px;
    text-align: center;
    padding-right: 90px;
    margin-bottom: 5px;
    color: #4f4f4f;
    font-weight: bold;
    text-decoration-line: underline;
}

.h3-conjuge {
    padding-right: 75px;
}

.h3-residencia {
    padding-right: 70px;
}

.h3-protocolo {
    padding-right: 130px;
}

.h3-lote {
    padding-left: 140px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.h3-faixa {
    padding-right: 140px;
}

.hide {
    display: none !important;
}

select {
    text-align: center;
    height: 25px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 5px;
}

.botao-gerar {
    background-color: rgb(0, 183, 0);
    line-height: 35px;
    font-size: 25px;
    width: 250px;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
        background-color: green;
        color: #fff;
        cursor: pointer;
    }
}

.botao-download {
    background-color: rgb(0, 116, 183);
    line-height: 35px;
    font-size: 25px;
    width: 250px;
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 20px;

    &:hover {
        background-color: rgb(0, 43, 128);
        color: #fff;
        cursor: pointer;
    }
}

.wrapper:nth-last-child(1) {
    padding-bottom: 40px;
}

.success-message {
    font-size: 20px;
    color: green;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-do-envio {
    text-align: center;
    margin-bottom: 50px;
}

.party {
    background-image: url(./birthday-party.png);
    background-size:contain;
    padding-top: 120px;
    padding-bottom: 40px;
}

.error {
    color: red;
    text-decoration: none;
    padding-right: 15px;
    font-size: 12px;
    text-align: center;
    margin-top: -8px;
}

.loucura {
    width: 250px;
}

.error-two {
    color: red;
    text-align: center;
    display: none;

    &--active {
        display: block;
        font-size: 22px;
        text-decoration: none;
        text-align: center;
        padding-right: 0;
        padding-left: 60px;
    }
}